    <section class="general" id="Mision">
        <div class="general-1">
            <h2>Misión</h2>
            <p>
                Somos un restaurante dedicado a prestar
                servicio de alimentación y bebidas de alta calidad,
                que desea satisfacer las necesidades gastronómicas y de
                nuestros clientes, enfocándonos principalmente en platillos
                de mariscos, tomando como estrategia principal la exigencia
                del cliente en un ambiente ecológico limpio y familiar.
            </p>
        </div>
        <div class="general-2"></div>
    </section>