    <section class="general" id="Vision">
        <div class="general-3"></div>
        <div class="general-1">
            <h2>Visión</h2>
            <p>
                Ser el mejor restaurante de comida de mariscos local,
                con un excelente servicio y calidad de nuestros productos,
                lograr la preferencia de nuestros clientes, manteniendo el
                mejor personal capacitado dedicado para la satisfacción
                plena de nuestros clientes y ser reconocidos por brindar
                sensaciones agradables.
            </p>
        </div>
    </section>